// fonts
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

// =========
// conditionals
// =========

$fixed-nav: T;

$fading-hero: F;
$hero-background-image: T;

// =========
// variables
// =========

// colors
$primary-color: #65D1EA; //old workweek red: F84654
$primary-color-reverse-text: #fff;
$selection-background: #b3d4fc; // default: #b3d4fc
$button-background: #8854B2;
$button-background-hover: darken($button-background, 10%);
$light-gray: #f1f2f2;

// HTML defaults
$default-color: #313349;
$default-font-size: 1em;
$default-line-height: 1.4em;
$body-font: "Lato", sans-serif;

// other
$section-padding: 4%;
$light-border: 1px solid #e1e1e1;
$border-radius: 2px;

// hero
$hero-height: auto;
$hero-image: url(../img/hero-free-website-cropped2.jpg);
$hero-background-size: cover;
$hero-background-color: #fff;
$hero-overlay-color: black;
$hero-overlay-opacity: 0;
$hero-color: $default-color;
$hero-max-width: 900px;
$hero-padding: 70px 0 60px 0;

// layout
$container-max-width: 980px;

// nav
$nav-background: #fff;
$nav-padding: 14px 10px;
$nav-link-margin: 24px;
$nav-link-color: #888;
$nav-link-font-size: 10pt;
$nav-font: "Quicksand";
$nav-height: 67px; //calculated for margin of fixed nav hero

// buttons
$button-padding: 8px 18px;
$button-color: #fff;
$button-border-radius: 2px;
$button-font-size: 14pt;
$button-font: "Quicksand";

//
// import partials
//

@import "normalize.scss";
@import "html5bp.scss";
@import "skeleton.scss";


/* Stylesheet */

// ===
// CSS 
// ===

body {
    font-family: $body-font;
}

h1 {font-size: 24pt}
h2 {font-size: 20pt}
h3 {font-size: 15pt}

@media (min-width: 768px) {
    h1 {font-size: 52px}
    h2 {font-size: 26pt}
    h3 {font-size: 17pt}
}

h1, h2, h3, h4, h5 {
    font-family: "Quicksand";
    font-weight: 200;
    line-height: 1.3em;
}

p {
    font-family: "Lato";
    font-weight: 200;
    font-size: 18px;
    line-height: 1.6em;
}

* {
    font-weight: 200;
}

form {
    input[type="text"],
    input[type="email"], 
    input[type="submit"],
    select,
    textarea, {
        // display: block;
        // width: 100%;
        // padding: 12px 10px 11px 10px; //for .combined? 
        padding: 14px;
        border-radius: 4px;
        border: none;
        background: #fff;
        margin-bottom: 1em;
        box-sizing: border-box;
        -webkit-transition: all .3s;
        font-size: $button-font-size;
        font-family: $button-font;

        &:focus {
            outline: none;
            border-color: $primary-color;
        }
    }
    // input[type="submit"].combined {
    //     padding: 10px 24px;
    //     margin-left: -4px;
    //     border-radius: 0 4px 4px 0;
    //     border-color: darken($primary-color, 15%);
    // }
    // input[type="email"].combined {
    //     border-radius: 4px 0 0 4px;
    //     width: 70%;
    //     max-width: 240px;
    // }
    div {
        margin-bottom: 1em;
    }
    input[type="submit"] {
        border-color: $primary-color;
        background: $primary-color;
        color: #fff;
        padding: 14px 26px;
        &:hover {
            background: darken($primary-color, 10%);
            border-color: darken($primary-color, 10%);
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="submit"] {
        margin-left: 0;
        display: block;
        text-align: center;
        width: 100%;
        &.domain {
            display: inline-block;
            width: 50%;
        }
    }


    @media (min-width: 480px) {
        input[type="text"],
        input[type="email"],
        input[type="submit"] {
            display: inline-block;
            text-align: left;
            width: auto;
            max-width: 200px;
        }
        input[type="submit"] {
            margin-left: 6px;
            text-align: center;
        }
    }
}

.workweek-url {
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    left: -4px;
    padding: 14px;
    font-family: "Quicksand";
    font-size: 14pt;
    color: #777;
    border-left: 1px solid #eee;
    background-color: #FFFFFF;
}



// Hero

.hero {
    height: $hero-height + 20px;
    box-sizing: border-box;
    @if $hero-background-image == T {
        background: $hero-image no-repeat top; 
        -webkit-background-size: $hero-background-size;
        -moz-background-size: $hero-background-size;
        -o-background-size: $hero-background-size;
        background-size: $hero-background-size; 
    } else {
        background: $hero-background-color;
    }

    padding: $hero-padding;
    color: $hero-color;
}

h1.hero-header {
    color: #505254;
    span {
        color: #616365;
        font-size: 18px;
        display: block;
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
        margin-top: 24px;
        margin-bottom: 60px;
        line-height: 1.4em;
        @media (min-width: 768px) {
            font-size: 24px;
        }
    }
}
.hero-container {
    overflow: hidden;
    position: relative;
    @if $fixed-nav == T {
        margin-top: $nav-height;
    }
}
.hero-content {
    @if $fading-hero == T {
        top: 50%;
        left: 50%;
        position: absolute;

        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);   
    } 
    @if $fading-hero == F {
        width: 90%;
        max-width: $hero-max-width;
        margin: 0 auto;
    }
}
.hero-overlay {
    background-color: $hero-overlay-color;
    opacity: $hero-overlay-opacity;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @if $hero-background-image == F {
        display: none;
    }
}
.hero-image {
    display: none;
}

.section {
	padding: $section-padding 0;
    background: #fff;
    &.color {
        background-color: $primary-color;
        color: $primary-color-reverse-text;
    }
    &.gray {
        background-color: $light-gray;
    }
}

.logo {
    text-align: left;
    img {
        margin-top: 2px;
    }
    span {
        font-family: "Quicksand", sans-serif;
        font-size: 18px;
        color: #a1a3a3;
        position: relative;
        top: 2px;
        margin-left: 4px;
        display: none;
    }
}

.menu {
    text-align: right;
    margin-top: 8px;
    @media (min-width: 768px) {
        margin-bottom: 0;
    }
    a {
        // display: block;
        margin-left: $nav-link-margin;
        margin-bottom: 14px;
        text-transform: uppercase;
        font-size: $nav-link-font-size;
        letter-spacing: 1px;
        font-family: $nav-font;
        text-decoration: none;
    }
}

.nav {
    padding: $nav-padding;
    background: $nav-background;
    box-sizing: border-box;
    color: $nav-link-color;
    @media (min-width: 768px) {
        padding: $nav-padding;
    }
    .container {
        width: 100%;
        padding: 0;
    }
    a {
        transition: color .2s;
        -webkit-transition: color .2s;
        color: $nav-link-color;
        &:hover, &:active {
            color: $primary-color;

        }
    }

    @if $fixed-nav == T {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        box-shadow: 0 0 4px rgba(0,0,0,.15);
    }
}

/* Grid */
.group:after {
    display: table;
    content: "";
    clear: both;
}
.group-column {
    float: left;
    &.right {
        float: right;
    }
    &.two {
        width: 50%;
    }
}


// should .container live here or in .skeleton grid? 
.container {
	width: 90%;
	max-width: $container-max-width;
	margin: 0 auto;
}

img {
    max-width: 100%;
    border-radius: 2px
}

// skeleton grid extra styles
.two-column-layout .row .columns {
    text-align: center;
    margin-top: 40px;
}
@media (min-width: 768px) {
    .two-column-layout .row .columns {
        text-align: left;
        margin-top: 80px;
        h2 {
            margin-top: 0;
        }
    }
}

.row.reverse {
    div.columns:nth-child(1) {
        float: right;
    }
}

.button {
    background: $button-background;
    border-radius: $button-border-radius;
    padding: $button-padding;
    color: $button-color;
    display: inline-block;
    font-size: $button-font-size;
    font-family: $button-font;
    cursor: pointer;
    &.outline {
        background: transparent;
        border: 1px solid #fff;
    }
    &.red {
        background: $primary-color;
    }
}

.center-text {
    text-align: center;
}

.footer {
    padding: 80px;
    a.social-button {
        opacity: .8;
        &:hover {
            opacity: 1;
        }
    }
}


.group {
    content: "";
    display: table;
    width: 100%;
    text-align: center;
    &:after {
        clear: both;
    }
    &.three .float {
        width: 33.333333333%;
    }
    .float {
        float: left;
    }
}

.sign-up p {
    margin-bottom: 8px;
}

.feature-box {
    margin: 24px 0;
    h3 {
        font-size: 18px;
        margin: 10px 0;
        color: #555;
    }
    p {
        font-size: 16px;
        color: #777;
        max-width: 200px;
        margin: 0 auto;
        line-height: 1.5em;
    } 
}

.pricing-table {
    margin: 0 auto 60px auto;
    max-width: 400px;
    .price {
        display: block;
        text-align: center;
        padding: 24px 0 12px 0;
        span {
            background: $primary-color;
            color: #fff;
            font-weight: bold;
            padding: 6px 12px;
            display: inline-block;
            border-radius: 40px;
            &.red {
                background: #FA6765;
            }
            &.yellow {
                background: #FFDA49;
            }
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        border: $light-border;
        border-radius: 2px;
        padding: 20px;
        font-size: 18px;
        line-height: 2.4em;
        li {
            span {
                display: block;
                font-size: 80%;
                line-height: .5em;
                color: #999;
            }
        }
    }
}

.desktop {
    // display: none !important;
}
@media (min-width: 768px) {
    display: inherit;
}
