/* FONT FAMILY --

Can choose 4 max. 

Header
Menu
Body
Headings

*/


/* Body Font */
body {
	font-size: 18px;
	background-color: #222;
	color: #ccc;
}
/* Headers Font */
h1,h2,h3,h4,h5 {
	font-family: Helvetica;
}
/* Project Header Font Size */
.project-description h2 {
	font-size: 34px;
}
/* Header Font */
.logo h1 a {
	font-family: Times, serif;
	font-size: 30px;
	color: #fff;
}
.logo h1 a:hover {
	color: rgb(50,200,255);
}
/* Menu Font */
.nav {
	font-family: Helvetica;
	font-size: 14px;
}
.nav a {
	color: #ccc;
}
.nav a:hover {
	color: rgb(50,200,255);
}

/* Project Thumbnails */
.project-title {
	background: rgba(50,200,255,.85);
	font-size: 28px;
}
/* Show or not show the project title on hover */
.project-title {
    display: block;
}
/* Thumbnail ratio */
.thumbnail {
	padding-bottom: 75%;
    -webkit-transition: transform 1s;
    transition: transform 1s;
}

/* contact form */
.contact form input[type="email"], 
.contact form input[type="text"], 
.contact form textarea,
.portfolio .container.project-footer {
	border-color: #777;
}
.contact form input[type="email"]:focus,
.contact form input[type="text"]:focus, 
.contact form textarea:focus {
	border-color: rgb(50,200,255);
}

.contact form input[type="submit"] {
	background: rgb(50,200,255);
	border-color: rgb(50,200,255);
}
.contact form input[type="submit"]:hover {
	background: rgb(20,160,215);
	border-color: rgb(20,160,215);
}
.section.contact .container {
	max-width: 500px;
}
/* Page width */
.page-content {
	max-width: 700px;
}
