// fonts
// @import url(http://fonts.googleapis.com/css?family=Lora:400,400italic);

// =========
// variables
// =========

// colors
$purple: #8854B2;

$selection-background: #b3d4fc; // default: #b3d4fc
$button-background: #EF6F79;
$button-background-hover: darken($button-background, 10%);

$link-color: #999;
$link-color-hover: $purple;

// HTML defaults
$default-color: #313349;
$default-font-size: 1em;
$default-line-height: 1.4em;

// other
$section-padding: 40px;
$light-border: 1px solid #e9eaec;
$border-radius: 2px;

$hero-height: 300px;

$container-max-width: 900px;

// Header
$header-font-size: 20pt;

// Nav Menu
$menu-font-size: 10pt;
$menu-font-color: #999;
$menu-font-color-hover: darken($menu-font-color, 20%);

// Buttons
$button-padding: 8px 12px;
$button-color: #fff;

//
// import partials
//

@import "normalize.scss";
@import "html5bp.scss";
@import "skeleton.scss";


/* Stylesheet */

// ===
// CSS 
// ===

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

h2 {font-size: 16pt;}

html {
    font-size: 12pt;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

p {
    line-height: 1.8em;
    color: #414345;
}

a {
    text-decoration: none;
    color: $link-color;
    &:hover {
        color: $link-color-hover;
    }
}

.section {
    margin: 0 auto;
}

.hero-container {
    position: fixed;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    z-index: -1;
}

.hero {
    height: $hero-height + 20px;
    box-sizing: border-box;
    background-image: url(../img/cup-steam.jpg);
    background-size: cover;
    background-position: center 50%;

    width: 110%;
    position: relative;
    left: -5%;
    top: -20px;

}

// HEADER
.header {
    padding: 32px 0;
}
.logo {
    padding-bottom: 24px;
    h1 {
        font-size: $header-font-size;
        a {
            color: #444;
            &:hover {
                color: $link-color-hover;
            }
        } 
    }
}
.nav {
    .nav-menu {
        a {
            display: block;
            padding: 8px;
            margin: 0 8px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: $menu-font-size;
            color: $menu-font-color;
            &:hover {
                color: $menu-font-color-hover;
            }
        }
    }
}

@media only screen and (min-width: 480px) {
    .header {
        padding: 48px 0;
    }
    .nav {
        .nav-menu a {
            display: inline-block;
        }
    }
}

// // PORTFOLIO 
.project-title {
    text-align: center;
    padding: 10px;

    display: none;
}


// PROJECT PAGE
.project-images {
    text-align: center;
    img {
        margin-bottom: 60px;
    }
}
.project-description {
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}


// ABOUT
.section.about {
    max-width: 600px;
    padding-bottom: 40px;
}
.about-image {
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.about-text {
    padding-top: 20px;
}

@media only screen and (min-width: 600px) {
    .desktop-table {
        display: table;
        .table-row {display: table-row}
        .table-cell {display: table-cell}
    }
}
.about .desktop-table {
    width: 90%;
    margin: 42px auto;
}
.about .table-cell {
    vertical-align: top;
    padding: 20px;
}

// CONTACT

.section.contact {
    max-width: 400px;
    text-align: center;
    padding-bottom: 80px;
}

.contact form  {
    input[type="email"], 
    input[type="text"], 
    input[type="submit"],
    textarea {
        width: 100%;
        padding: 10px;
        border-radius: 1px;
        border: 1px solid #ccc;
        background: transparent;
        margin-bottom: 1em;

        box-sizing: border-box;

        -webkit-transition: border .3s;
        color: $purple;

        &:focus {
            outline: none;
            border-color: $purple;
        }
    }

    label {
        display: block;
        text-align: left;
        padding: 4px 0;
        color: #777;
    }

    input[type="submit"] {
        border-color: $purple;
        background: $purple;
        color: #fff;
        &:hover {
            background: darken($purple, 10%);
            border-color: darken($purple, 10%);
        }
    }
}

// FOOTER
.footer {
    padding: 24px 0;
    color: #717375;
    font-size: 11pt;
}

//////////////  //
//   ELEMENTS  //
////////////  //

// BUTTONS
.button {
    background: $button-background;
    display: inline-block;
    padding: $button-padding;
    border-radius: $border-radius;
    color: $button-color;
    cursor: pointer;
    font-size: 12pt;
}

// FORMATTING

.center-text {text-align: center;}
.right-text {text-align: right;}

// need this?
.group {
    content: "";
    display: table;
    width: 100%;
    text-align: center;
    &:after {
        clear: both;
    }
    &.three .float {
        width: 33.333333333%;
    }
    .float {
        float: left;
    }
}
ul.reset {
    margin: 0;
    padding: 0;
    list-style: none;
}



// ==========================================================================
//    EXAMPLE Media Queries for Responsive Design.
//    These examples override the primary ('mobile first') styles.
//    Modify as content requires.
//    ==========================================================================

@media only screen and (min-width: 35em) {
    // Style adjustments for viewports that meet the condition
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    // Style adjustments for high resolution devices
}



